.sh-customInput {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    position: relative;
    width: 100%;
    user-select: none;
    
    &__label {
        color: #878484;
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }

    &__input {
        padding: 0.5rem;
        border: 1px solid #3783c5;
        border-radius: 5px;
        font-size: 1rem;
        margin-bottom: 0.5rem;

        &:focus {
            outline: none;
            border: 1px solid #3783c5;
            box-shadow: 0 0 5px #3783c5;
        }
    }

    &__textarea {
        padding: 0.5rem;
        border: 1px solid #3783c5;
        border-radius: 5px;
        font-size: 1rem;
        margin-bottom: 0.5rem;
        max-height: 200px;
        min-height: 100px;

        &:focus {
            outline: none;
            border: 1px solid #3783c5;
            box-shadow: 0 0 5px #3783c5;
        }

        &.resize-none {
            resize: none !important;
        }
    }

    &__error-message {
        background-color: #F8D7DA;
        padding: 0.5rem;
        color: #BA0B36;
        font-size: 1rem;
        margin-top: 5px;
        border-radius: 5px;
    }            
}