@import '../.././../scss/variables.scss';

.sh-customInput {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    position: relative;
    width: 100%;
    user-select: none;
    
    &__label {
        color: #878484;
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }

    &__container{
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        
        input,  
        input :not(input[type="checkbox"]),
        input :not(input[type="radio"]) {
            width: 100%;
            padding: 0.5rem;
            border: 1px solid $imputlabel;
            border-radius: 5px;
            font-size: 1rem;
    
            &:focus {
                outline: none;
                border: 1px solid $imputlabel;
                box-shadow: 0 0 5px $imputlabel;
            }
        }

        
        &--radio, &--checkbox {
            width: 100%;
            position: relative;

            input[type="checkbox"],
            input[type="radio"] {
                display: none;
              
            }

            label {
                display: flex;
                align-items: center;
                position: relative;

                &::before{
                    content: '';
                    display: inline-block;
                    margin-right: .5rem;
                    width: 20px;
                    height: 20px;
                    border: 1px solid $imputlabel;
                    border-radius: 50%;
                }
            }

            input[type="checkbox"]:checked + label::before, 
            input[type="radio"]:checked + label::before {
                opacity: .7;
                background-color: $imputlabel;
                box-shadow: 0 0 5px $imputlabel;
                border: 1.5px solid $white;
            }
        }

        &--file {

            input[type="file"] {
                display: none;
            }

            label {
                border: 1px solid $imputlabel;
                padding: .5rem;
                border-radius: 1rem;
                display: flex;
                align-items: center;

                svg {
                    margin-right: .5rem;
                }
            }
            
        }
    
        &--textarea {
            width: 100%;
            padding: 0.5rem;
            border: 1px solid $imputlabel;
            border-radius: 5px;
            font-size: 1rem;
            margin-bottom: 0.5rem;
            max-height: 200px;
            min-height: 100px;
    
            &:focus {
                outline: none;
                border: 1px solid $imputlabel;
                box-shadow: 0 0 5px $imputlabel;
            }
    
            &.resize-none {
                resize: none !important;
            }
        }

        .sh-status-icon {
            position: absolute;
            right: 10px;
            top: 40%;
            transform: translateY(-50%);
            font-size: 1.5rem;
        }
    }

    &__error-message {
        background-color: $errorBackground;
        padding: 0.5rem;
        color: $errorText;
        font-size: 1rem;
        margin-top: 5px;
        border-radius: 5px;
    }            
}