@import '../../../../scss/variables.scss';

.sh-message-input {
    display: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    width: 100%;
    min-height: 1rem;
    margin: 0.5rem 0;
    
    &.error {
        background-color: $error-background;
        color: $error-text;
        display: block;
    }
    
    &.warning {
        background-color: $warning-background;
        color: $warning-text;
        display: block;
    }
    
    &.success {
        background-color: $success-background;
        color: $success-text;
        display: block;
    }

    &.hidden {
        @extend .animation-fade-out;
    }

    @extend .animation-fade-in;
}